{% extends 'acads/base.html' %}

{% load static %}

{% block content %}
<input type="radio" name="radio" id="yes"><strong>Student</strong> 
<br>
<input type="radio" name="radio" id="no" checked="checked"><strong>Faculty     

<br>
<input type="submit" id="submit" value="Submit" name="submit" />
</form>

<script>
var submitBtn = document.getElementById("submit");
var termsChk = document.getElementById("yes");


submitBtn.addEventListener("click", function() {
if (termsChk.checked === true )

{
    window.location="home"
} else {
    window.location="faculty"
}
return false;
});
</script>

{% endblock %}
